.wrapp-congrats {
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/backCongrats.jpg);
    background-size: cover;
    height: 100vh;
}

.resultMessage {
    font-size: 40px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.score {
    font-weight: bold;
}

button.ant-btn.ant-btn-default.btn-congrats {
    color:#fff;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(217deg, rgba(221, 132, 233, 0.8), rgba(169, 248, 228, 0) 70.71%),
    linear-gradient( 127deg, rgba(233, 132, 194, 0.8), rgba(200, 238, 228, 0) 70.71%),
    linear-gradient( 336deg, rgba(253, 163, 90, 0.8), rgba(129, 223, 198, 0.4) 70.71%);
    text-transform: capitalize;
}

.tabs-congrats {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
}

.first-btn {
    margin-right: 0.5rem;
}

.second-btn {
    margin-right: 0.5rem;
}