.label-diff,
.label-shirt {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardShirtBtn__wrapper .mediumBtn{
    margin: 0 1rem;
}

span.ant-select-arrow {
    top: 35%;
    right: 6px;
}
  
.difficultySelector {
    display: flex;
    margin-top: 1.5rem;
}

.card-shirt-wrapp {
    margin: 2.8rem 0 1rem;
}

.label-diff {
    margin-right: 1rem;
}

.ant-select {
    width: 5rem;
}

.cardShirt {
    outline: none;
    border: 1px solid #fff;
    padding: 0.8rem 1.5rem;
    margin: 0 1rem;
    border-radius: 2px;
    color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardShirt:hover {
    border: 1px solid #81dcf8;
    color: #81dcf8;
    transition: 2s;
}

.cardShirt:nth-child(1):hover,
.cardShirt:nth-child(2):hover,
.cardShirt:nth-child(3):hover{
    background: #ffffff;
    transition: 1s;
}

.cardShirt:nth-child(1){
    background: url(../images/cardsShirts/cakeShirt.png) no-repeat center center;
    background-size: 50% 100%;
}

.cardShirt:nth-child(2){
    background: url(../images/cardsShirts/plantShirt.png) no-repeat center center;
    background-size: 50% 100%;
}

.cardShirt:nth-child(3){
    background: url(../images/cardsShirts/animalShirt.png) no-repeat center center;
    background-size: 46% 100%;
}