.wrappProfile {
    height: 100vh;
    background: url(../images/backProfile.jpg) no-repeat center center;
    background-size: cover;
}

.goback-link {
    color: #2ccc6e;
    font-size: 1.4rem;
    text-decoration: underline;
}

.greetingProfile {
    text-align: center;
    margin: 2rem 0;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.sectionProfile {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.labelInformationProfile {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logOutBtnProfile {
    width: calc(7em + 2vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.initInfoProfile {
    font-weight: bold;
}