.wrappProfile {
    text-align: center;
    height: 100vh;
    background: url(../images/backProfile.jpg) no-repeat center center;
    background-size: cover;
}

.exit-img{
    width: calc(2em + 1vw);
    height: calc(2em + 1vw);
}
.init-info-about-user {
    text-align: left;
}

.main-info-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetingProfile {
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem 0;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.section {
    color: #fff;
    padding: 2rem;
    width: fit-content;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.sectionProfile {
    text-align: right;
}

.labelInformationProfile {
    font-size: 20px;
    font-family: monospace;
}

.logOutBtnProfile {
    width: calc(7em + 2vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.initInfoProfile {
    font-weight: bold;
}