*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

.main__container {
  display: flex;
  justify-content: space-evenly;
}

.start-game-text {
  margin: 0.5rem 0;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1.3rem;
}

.game-name {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 2rem;
}

.welcomeForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  align-items: center;
  width: calc(100% - 60vw);
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
  border: 1px solid #fff;
}

.greeting {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 2.5rem;
  margin-bottom: 2.1rem;
}

.greeting h1{
  margin: 0 auto;
  width: calc(5em + 40vw);
  font-size: 3em;
  line-height: 1;
  color: #fff;
  animation: neon .9s ease-in-out infinite alternate;
}

.greeting .game-logo-img{
  margin: 1.3rem auto 0;
}

.game-logo-img{
  width: calc(2em + 1.8vw);
  height: calc(2em + 1.8vw);
  background: url(../images/game-logo-img.png) no-repeat center center;
  background-size: cover;
  transform-origin: center;
  animation: logo 10s ease-in-out infinite alternate;
}

@keyframes logo {
  0% {
    transform: rotate(0) translate(0, 0);
  }

  20% {
    transform: translate(20vw, 0) rotate(60deg);
  }

  40% {
    transform: translate(20vw, 0) rotate(360deg) ;
  }

  60% {
    transform: translate(20vw, 0) rotate(0) ;
  }

  100% {
    transform: translate(-20vw, 0) rotate(360deg) ;
  }
}

@keyframes neon {
  from {
    text-shadow:
    0 0 10px rgba(202, 228, 225, 0.92),
    0 0 20px rgba(39, 236, 213, 0.34),
    0 0 15px rgba(76, 211, 216, 0.52),
    0 0 22px rgba(77, 200, 204, 0.92),
    0 0 40px rgba(92, 235, 245, 0.78),
    0 0 60px rgba(139, 250, 235, 0.92);
  }
  to {
    text-shadow:
    0 0 10px rgba(209, 238, 235, 0.98),
    0 0 20px rgba(229, 134, 238, 0.42),
    0 0 15px rgba(144, 58, 194, 0.58),
    0 0 22px rgba(226, 80, 80, 0.84),
    0 0 45px rgba(155, 16, 173, 0.88),
    0 0 70px rgb(160, 74, 156);
  }
}

.inputWrapp {
  position: relative;
}

.input-c-ud {
  color: #fff;
  background: transparent;
  outline: 0;
  border: 0;
  padding-top: 0.5rem;
  margin-bottom: 0.7rem;
  border-bottom: 2px solid #fff;
  transition: border-color 0.2s;
}

.input-c-ud:focus {
  color: #1fc5b7;
  border-bottom: 2px solid #1fc5b7;
}

.input-c-ud::placeholder {
  color: #fff;
  font-weight: bold;
}

.input-c-ud:focus::placeholder {
  color: transparent;
  font-weight: bold;
}

.inputWrapp label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: transparent;
}

.input-c-ud:focus ~ .input-label {
  transition: 0.2s;
  color: #1fc5b7;
}

.input-wrapper {
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
}

.error-input {
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rules-logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.rules-wrap {
  width: calc(20em + 5vw);
  height: fit-content;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 0.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}